/* Colors and fonts */ 

#logo {
width: 80px;
border-radius: 50px;
}

body {
background: seagreen;
font-family: Lato;
font-size: 16px;
font-weight: bold;
}

h1 {
color: #1A936F;
font-size: 38px;
}

h1, h2 {
font-family: Do Hyeon;
}

h2 {
color: #1A936F;
font-size: 28px;
font-weight: Lighter;
}

a {
text-decoration: none;
color: #88D498;
font-weight: bold;
}
a:hover{
text-decoration: underline;
color: #1A936F;
}

/* Custom design with class */

.container {
width: 700px;
margin: 40px auto;
}

@media (max-width: 960px) {
  .container {
  width: 700px;
  }
}

@media (max-width: 760px) {
  .container {
  width: 600px;
  }
}

@media (max-width: 500px) {
  .container {
  width: 400px;
  }
}

.card-white{
background: white;
padding: 40px;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
border-radius: 5px;
margin: 20px 0px;
text-align: center;
}
.btn {
background-color: #88D498;
color: #1A936F;
padding: 15px 20px;
border-radius: 5px;
}
.btn:hover {
background-color: #1A936F;
color: #88D498;
}

.list-inline {
list-style: none;
padding-left: 0px;
}

.list-inline li {
display: inline;
padding: 10px;
}
.list-inline i {
font-size: 50px;
}

#introduction p {
margin-bottom: 40px;
}
